<html lang="zh-CN">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>404了哦</title>
        </head>
        <body style="text-align:center">
            <h1 style="text-align: center">所访问的页面并不存在</h1>
            <input type="button" name="Submit" value="返回" onclick="javascript:window.history.back();"/>
        </body>
    </html>